$input-text-active: #BFD2FF;
$input-text-disabled: #7881A1;
$border-color: rgba(191, 179, 179, 0.2);
$bg-grey-medium: rgba(57, 63, 84, 0.8);
$bg-blue: rgba(169, 187, 219, 0.8);

$border-radius: 3px;
$line-height: 1.5rem;
