$input-text-active: #BFD2FF;
$input-text-disabled: #7881A1;
$border-color: rgba(191, 179, 179, 0.2);
$bg-grey-medium: rgba(57, 63, 84, 0.8);
$bg-salmon: rgb(236, 185, 175);
$bg-accent-blue: rgb(148, 191, 233);
$bg-blue: rgb(87, 230, 230);
$bg-blue-dark: rgba(169, 187, 219, 0.8);
$bg-violet: rgb(178, 148, 255);
$bg-yellow: rgb(254, 255, 184);

$border-radius: 3px;
$line-height: 1.5rem;
