@import '../../shared/variables.scss';

.HeaderContainer {
  height: 60px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 50px;
  grid-template-columns: auto auto;
  border-bottom: 3px solid $border-color;
  background-color: $bg-blue-dark;

  &--Link {
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      color: $bg-violet;
    }

    span {
      font-size: 18px;
      font-weight: 600;
    }
  }
}
