@import '../../shared/variables.scss';

.PlayerControls {
  display: grid;
  grid-template-columns: 2rem 2rem 2rem 2rem 8rem;
  grid-template-rows: 2rem;
  grid-gap: 3px;
  background-color: #000;
  padding: .25rem .5rem;
  border-top: 2px solid $border-color;
  border-radius: $border-radius;

  .btnPlayerControl {
    border-radius: $border-radius;
  }
}
