@import './shared/variables.scss';

.App {
  text-align: center;
  background: $bg-salmon;
  background: radial-gradient(circle, $bg-salmon 0%, $bg-accent-blue 100%);
  height: 100%;
}

main {
  padding: 2rem 4rem;
}
